In [1]:
#where the decorater that only allows positive no as input to a function

def decor(fun1):
    def inner():
        print("decoration 1")
        fun1()
        print("decoration 2")
    return inner
@decor
def wish():
    print("Good Morning Amma ")
wish()

decoration 1
Good Morning Amma
decoration 2

In [7]:
#write a decorator that only aallows npositive num from the user

def decor(fun1):
    def inner(num1):
        if num1 < 0:
            print ("Not a positive NO ")
        else:
            print ("The no is positive ")
    return inner

@decor
def input_avg(num1):
    print(num1)
num1=int(input("Enter the NO :"))
input_avg(num1)

Enter the NO : -2

Not a positive NO

In [3]:
names_list=list(input("enter 3 names separted by space:").split( ))
print(names_list)
for name in names_list:
    print(name,len(name))

enter 3 names separted by space: sagar ram  sham

['sagar', 'ram', 'sham']
sagar 5
ram 3
sham 4

In [4]:
fruits=['apple','mango','avacoda']
elem=input("enter the new element you need to add:")
pos=int(input("Enter its position:"))
fruits.insert(pos,elem)
print(fruits)

enter the new element you need to add: watermalun
Enter its position: 4

['apple', 'mango', 'avacoda', 'watermalun']

In [5]:
numbers=list(range(1,101))
odd_numbers=[n for n in numbers if n%2!=0]
even_numbers=[n for n in numbers if n%2==0]
print(f"Numbers:{numbers}\n\nOdd Numbers:{odd_numbers}\n\nEven Numbers:{even_numbers}")

Numbers:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Odd Numbers:[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Even Numbers:[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [6]:
list_char_num=['12','23','67','56','12','90']
num_list=[int(n) for n in list_char_num]
print("Sum is: ",sum(num_list))

Sum is:  260

In [7]:
num_tuple=tuple(range(1,11))
print(num_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
fruits=("mango",)
print(fruits)

('mango',)

In [9]:
numbers=(1,2,3,4,5)
average=sum(numbers)/len(numbers)
print(average)

3.0

In [10]:
char_tuple_numbers=('1','2','3','4','5')
tuple_numbers=tuple(int(n) for n in char_tuple_numbers)
print(tuple_numbers)

(1, 2, 3, 4, 5)

In [11]:
name="sagar"
name.upper()
print(name)

numbers=[1,2,3,4]
numbers.append(5)
print(numbers)

sagar
[1, 2, 3, 4, 5]

In [12]:
import sys
fruits=("apples","mango","grapes")
print(sys.getsizeof(fruits))

64

In [13]:
even_set=set(range(2,11,2))
print(even_set)

{2, 4, 6, 8, 10}

In [14]:
n=int(input("Enter the size of set you need to create: "))
set_collection=set()
for i in range(n):
    set_collection.add(input(f"Enter the element {i+1}:")) 
print(set_collection)

Enter the size of set you need to create:  5
Enter the element 1: 20
Enter the element 2: 30
Enter the element 3: 40
Enter the element 4: 50
Enter the element 5: 60

{'30', '50', '60', '40', '20'}

In [15]:
fruits_set={"apples","mango","grapes"}
fruits_tuple=tuple(fruits_set)
print(type(fruits_tuple),fruits_tuple)

<class 'tuple'> ('apples', 'grapes', 'mango')

In [16]:
empty_set=set()
print(empty_set)

set()

In [17]:
numbers_list=[10,20,30,40,50,60]
numbers_set=set(numbers_list)
print(type(numbers_set),numbers_set)

<class 'set'> {40, 10, 50, 20, 60, 30}

In [18]:
data={}
print(data)
data['name']='Sagar'
data['age']=19
data['address']='Magadi'
print(data)

{}
{'name': 'Sagar', 'age': 19, 'address': 'Magadi'}

In [19]:
key_list=[1,2,3,4,5]
value_list=["sagar","Swami","Dhruva","Sanjay","Adithya"]
data=dict(zip(key_list,value_list))
print(data)

{1: 'sagar', 2: 'Swami', 3: 'Dhruva', 4: 'Sanjay', 5: 'Adithya'}

In [20]:
numbers=[1,2,1,5,4,5,8,9,8,8,5,4,1,8,1]
data={}
for n in list(set(numbers)):
    data[n]=numbers.count(n)

print(data)

{1: 4, 2: 1, 4: 2, 5: 3, 8: 4, 9: 1}

In [21]:
data={1: 'Sagar', 2: 'Swami', 3: 'Dhruva', 4: 'Sanjay', 5: 'Adithya'}
for key in data:
    print(key,data[key],"\n")

1 Sagar

2 Swami

3 Dhruva

4 Sanjay

5 Adithya

In [22]:
numbers=[1,2,3,4,5]
data={}
for n in numbers:
    data[n]=n**2

print(data)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
#generator
def char_generator(word):
    for i in word:
        yield i

a=char_generator("hello")
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

h
e
l
l
o